/*** ELEMS / SORT -> IMPORTANT, TOP-BOT ***/

html, body {

    height: 100%;
    background: whitesmoke;
}

/*** ELEMS#ID / SORT -> ELEMS(ABC).#(ABC)***/

div#cont_padre {

    height: auto;
    background: #1C1C1F;
    padding: 2%;
    margin-bottom: 1%;
    margin-top: 0.3%;
    border: solid 1px black;
    border-radius: 1%;
    color: whitesmoke;
    box-shadow: 10px 10px 10px darkgrey;
}

form#encuesta_form > p, label{

    padding: 2%;
}

header#cabecera {

    text-transform: uppercase;
    position: fixed;
    color: gold;
    margin-left: 10%;
}

input#btn_success {

    margin-left: 100%;
    margin-top: 25%;
}

section#seccion {

    position: relative;
    left: 13%;
    padding-top: 9%;
    padding-bottom: 7%;
}

/*** CLASS / SORT -> CLASS(ABC) ***/

.visible {

    display: block;
}